html,
body, 
a {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: StretchPro;
  src: url(../static/StretchPro.otf) format("opentype");
}

@font-face {
  font-family: Coco;
  src: url(../static/Cocogoose-Pro-Bold-trial.ttf) format("opentype");
}

h1 {
  font-size: 40px;
  font-family: "StretchPro";
  width: fit-content;
  color: #FF6B01;
  line-height: 1;
  margin-bottom: 20px;
  letter-spacing: -1;
  justify-content:center;
  margin-left: 10px;
  margin-bottom: -35px;
}
  
p{
  font-size: 18px;
  margin: 50px 0;
  max-width: 800px; /* Set the maximum width of the text content */
}
  
.toolbar{
  background-color: #28033c;
  color: white;
  font-family: "Coco";
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo img{
  max-width: 100%;
  height: auto; 
  display: block;
  margin-left: 0;
}

.navbar {
  overflow: hidden;
  background-color: #28033c; /* Change to your desired color */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;  
  margin-right: 10px;
}
  
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #28033c;
}

#main-menu{
  background-size: cover;
  background-position: center;
  background-color: #28033c;
  color: white; /* Set text color to white or your desired color */
  padding: 100px 0; /* Adjust the padding as needed */
}

.header-text {
  max-width: 800px; /* Set the maximum width of the text content */
  margin-left: 10px;
}

.header-text h1 {
  font-size: 47px;
  font-family: "StretchPro";
  letter-spacing: 1px;
  max-width: 1000px;
  margin-bottom: 10px;
}

.header-text h2 {
  font-size: 36px;
  line-height: 1;
  color: white;
  font-family: "Coco";
}

.header-text p {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;
}