<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Brick By Balance: {%block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static',filename ='style.css')}}" rel = 'stylesheet'>
        {% block head %} {% endblock %}
    </head>

    <body>
        <div class="toolbar">
            <div class="logo">
                <img src="" alt="">
                <div class="navbar">
                <img src ="{{url_for('static',filename='logo.png')}}" width ='40' height = '30' alt="">
            {% if session.name %}
            <a id="" href="/mortgageCalculator">MORTGAGE CALCULATOR</a>
            <a id="" href="/logout">LOGOUT</a>
            {% else %}
                    <a id="" href="/">HOME</a>
                    <a id="" href="/login">LOGIN</a>
                    <a id="" href="/register">REGISTER</a>
                </div>
            {% endif %}
            </div>
        </div>
        {%block main %} {% endblock %}
    </body>
</html>