<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Brick By Balance: {%block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static',filename ='style.css')}}" rel = 'stylesheet'>
        {% block head %} {% endblock %}
    </head>

    <body>
        <div class="toolbar">
            <div class="logo">
                <img src="" alt="">
                <div class="navbar">
                    <a id="" href="/">HOME</a>
                    <a id="" href="#">FIXTURES</a>
                    <a id="" href="#">MATCH HISTORY</a>
                     <a id="" href="#">PERFORMANCE OVERVIEW</a>
                </div>
            </div>
        </div>
        {%block main %} {% endblock %}
    </body>
</html>