{% extends "layout.html" %}

{% block title %}
Mortgage Calculator
{% endblock %}

{%block main %}

    <div class="calculator">
        <h1>MORTGAGE CALCULATOR</h1>

        </br>
        </br>
        <form id="mortageForm">
            <label for="loanAmount">PROPERTY PRICE (£):</label>
            <input type="number" id="loanAmount" name="loanAmount" required placeholder="Enter the property price">

            <label for="downPayment">DOWN PAYMENT (£):</label>
            <input type="number" id="downPayment" name="downPayment" required placeholder="Enter your down payment">

            <label for="loanTerm">LOAN TERM (YEARS):</label>
            <select id="loanTerm" name="loanTerm" required>
                <option value="10">10 Years</option>
                <option value="15">15 Years</option>
                <option value="20">20 Years</option>
                <option value="25">25 Years</option>
                <option value="30">30 Years</option>
            </select>

            <label for="interestRate">ANNUAL INTEREST RATE (PERCENTAGE):</label>
            <input type="number" id="interestRate" name="interestRate" step="0.01" required placeholder="Enter interest rate">

            <label for="monthlySavings">MONTHLY SAVINGS (£):</label>
            <input type="number" id="monthlySavings" name="monthlySavings" step="0.01" required placeholder="Enter your monthly savings">        

            <button type="button" onclick="calculateMortgage()">CALCULATE MY MORTGAGE</button>
        </form>

        <div id="mortgageResult"></div>
        <canvas id="mortgageChart" width="400" height="200"></canvas>
    </div>
{% endblock %}